* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /* Heading Fonts */
  --poppins-fam: "Poppins", sans-serif;
  --poppins-sm: 400;
  --poppins-lg: 600;

  /* Body Fonts */
  --open-fam: "Opens Sans", sans-serif;
  --open-sm: 400;

}

body {
  min-height: 100vh;
  background: var(--violet) url(images/bg-mobile.svg)  no-repeat;
  background-position: top right;
  background-size: contain;
}

.logo {
  width: 45%;
  margin-top: 2em;
  margin-left: 1em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.mockup {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.info {
  color: white;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}
h1 {
  font-family: var(--poppins-fam);
  margin-bottom: 0.5em;

}
.description {
  font-family: var(--open-fam);
  margin-bottom: 1em;
 
}
button {
  background-color: white;
  color: var(--violet);
  font-family: var(--open-fam);
  border: solid 2px white;
  margin-top: 1em;
  width: 50%;
  border-radius: 50px;
  padding: 1em;
  font-weight: var(--open-sm);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
ion-icon {
  color: white;
  border: solid 2px white;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.25em;
}
ion-icon:last-child {
  margin-left: 0.5em;
}
ion-icon:first-child {
  margin-right: 0.5em;
}

/* Author DIv */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

